/* ==UserStyle==
@name				Bilibili Tint Color
@namespace			github.com/openstyles/stylus
@version			0.2.0
@description		Bilibili 自定义主色调（强调色）
@author				zhaonan
@preprocessor		stylus
@updateURL			https://raw.githubusercontent.com/invalidunit/css_stylus/main/bilibili_tint_color.user.css

@advanced number color-img "图片变色百分比" 150
@advanced color color-0 "color-0" #FF7790
@advanced color color-1 "color-1" #FF4455
@advanced color color-2 "color-2" #FF778921

==/UserStyle== */

@-moz-document domain("bilibili.com") {
	/* 全局变量 */
	:root{
		--brand_blue: color-0 !important;
		--brand_blue_hover: color-1 !important;
		--text_link: color-0 !important;
		--Brand_blue: color-0 !important;
		--v_brand_blue_thin: color-2 !important;
        --v_brand_blue_hover: color-1 !important;
	}
	/* 全局变量 */
	::selection{
		background: color-1 !important;
	}
	/* 扭曲弹幕开关颜色 */
	.icon.normal,.icon.video,.icon.search-word,.bui-danmaku-switch-label,input[type="checkbox"]{
		filter: hue-rotate(color-img deg) !important;
	}
	/* 扭曲列表正在播放颜色 */
	.cur-play-icon{
		filter: hue-rotate(color-img deg) !important;
	}
	.link-content img{
		filter: hue-rotate(color-img deg) !important;
	}
    .playing-gif{
		filter: hue-rotate(color-img deg) !important;
	}
	/* 动态首页，全部动态图标 */
    .bili-dyn-up-list__item__face.all{
		filter: hue-rotate(color-img deg) !important;
	}
	/* 视频右上角关注 */
	.follow-btn.not-follow:hover{
		background-color: color-1 !important;
	}
}

@-moz-document domain("space.bilibili.com") {
	/* 个人主页 */
	/* 扭曲右边创作中心颜色 */
	.upload-section a{
		filter: hue-rotate(color-img deg) !important;
	}
}

@-moz-document domain("message.bilibili.com") {
	/* 消息中心 */
	/* 我的消息中链接颜色 */
	.space-right .space-right-top .title{
		background-color: color-0 !important;
		color: #FFF !important;
	}
	/* 我的消息中链接颜色 */
	.im-dynamic-link{
		color: color-1 !important;
	}
	.link{
		color: color-1 !important;
	}
	/* @我的中@颜色 */
	.at{
		color: color-1 !important;
	}
	/* 左边选项卡鼠标放上去颜色 */
	.item:hover{
		color: color-0 !important;
	}
	.item a:hover{
		color: color-0 !important;
	}
	/* 左边激活选项卡小圆点 */
	.item.active{
		color: color-0 !important;
	}
	/* 左边激活选项卡文字 */
	.router-link-exact-active.router-link-active{
		color: color-0 !important;
	}
	/* 收到的赞中的删除通知和不再通知颜色 */
	.action-button:hover{
		color: color-0 !important;
	}
	/* 消息设置中的开关颜色 */
	.radio-icon.css-o1815x .border{
		fill: color-0 !important;
	}
	.radio-icon.css-o1815x .dot{
		fill: color-0 !important;
	}
}
