/* ==UserStyle==
@name				Bilibili Lite
@namespace			github.com/openstyles/stylus
@version			0.5.7
@description		Bilibili 移除部分广告，以及禁用部分视图
@author				zhaonan
@preprocessor		stylus
@updateURL			https://raw.githubusercontent.com/invalidunit/css_stylus/main/bilibili_lite.user.css


@advanced checkbox hide-watch-later "隐藏添加至稍后再看" 0
@advanced checkbox hide-charge "隐藏充电按钮" 1
@advanced checkbox hide-video-cmd "隐藏播放视频中三连" 1
@advanced checkbox hide-video-follow "隐藏播放视频中左上角关注" 1
@advanced checkbox hide-live-status "隐藏 up 直播中标记" 1
@advanced checkbox hide-video-ads "隐藏播放视频右侧广告" 1
@advanced checkbox hide-barrage-list "隐藏播放视频右侧弹幕列表" 1
@advanced checkbox front-page-load-more "首页预加载更多视频卡" 1
@advanced checkbox hide-front-page-ads "隐藏首页视频中插入的广告" 1
@advanced checkbox hide-front-page-feed-card "隐藏首页顶部前两行视频" 1
@advanced checkbox hide-front-page-grid "隐藏首页顶部滚动推荐" 1
@advanced checkbox hide-front-page-multi-tab-video "隐藏首页多选项卡视频" 1
@advanced checkbox hide-desktop-download "隐藏首页右下角下载桌面端" 1
@advanced checkbox hide-home-watchlater "隐藏首页右下稍后再看" 0
@advanced checkbox hide-home-refresh "隐藏首页右下刷新内容" 0
@advanced checkbox hide-home-feedback "隐藏首页右下反馈" 1
@advanced checkbox hide-home-back-to-top "隐藏首页右下返回顶部" 0
@advanced checkbox hide-top-right-user-pendant "隐藏导航栏个人菜单中的头像挂件" 1
@advanced checkbox hide-top-right-user-vip "隐藏导航栏个人菜单中的大会员广告" 1
@advanced checkbox hide-recommended-services "隐藏导航栏个人菜单中的推荐服务" 1
@advanced checkbox hide-top-right-vip "隐藏导航栏右侧大会员" 1
@advanced checkbox hide-top-right-upload "隐藏导航栏右侧投稿" 1
@advanced checkbox hide-ai-title "隐藏视频下方 AI 总结测试标题" 1
@advanced checkbox hide-ai-in-unsupport "若不支持，则隐藏视频下方 AI" 1
@advanced checkbox hide-video-notes "隐藏视频下方笔记" 1
@advanced checkbox hide-video-bottom-ad "隐藏评论区上方广告" 1
@advanced checkbox hide-auth "隐藏个人主页右侧 bilibili 认证" 1
@advanced checkbox hide-creation "隐藏个人主页右侧创作中心" 1
@advanced checkbox hide-studio "隐藏个人主页右侧直播间" 1
@advanced checkbox hide-info "隐藏个人主页右侧个人资料" 1
@advanced checkbox hide-game "隐藏个人主页右侧最近玩过的游戏" 1
@advanced checkbox hide-feedback "隐藏右下反馈" 1
@advanced checkbox hide-vip "隐藏大会员痕迹" 1
@advanced checkbox hide-verify "隐藏认证" 1
@advanced checkbox show-video-desc "强制展开视频介绍" 1
@advanced number custom-window-offset-right "自定义导航栏右侧悬浮窗口偏移" -320
@advanced checkbox hide-community "隐藏动态右侧的社区中心" 1
@advanced checkbox hide-recommend "隐藏动态中相关应用推荐" 1
@advanced checkbox hide-top-left-01 "隐藏导航栏左侧 01" 0
@advanced checkbox hide-top-left-02 "隐藏导航栏左侧 02" 0
@advanced checkbox hide-top-left-03 "隐藏导航栏左侧 03" 0
@advanced checkbox hide-top-left-04 "隐藏导航栏左侧 04" 0
@advanced checkbox hide-top-left-05 "隐藏导航栏左侧 05" 1
@advanced checkbox hide-top-left-06 "隐藏导航栏左侧 06" 0
@advanced checkbox hide-top-left-07 "隐藏导航栏左侧 07" 0
@advanced checkbox hide-top-left-08 "隐藏导航栏左侧 08" 1
@advanced checkbox hide-top-left-09 "隐藏导航栏左侧 09" 1
@advanced checkbox hide-top-left-10 "隐藏导航栏左侧 10" 1
@advanced checkbox hide-top-right-01 "隐藏导航栏右侧 01" 0
@advanced checkbox hide-top-right-02 "隐藏导航栏右侧 02" 0
@advanced checkbox hide-top-right-03 "隐藏导航栏右侧 03" 0
@advanced checkbox hide-top-right-04 "隐藏导航栏右侧 04" 0
@advanced checkbox hide-top-right-05 "隐藏导航栏右侧 05" 0
@advanced checkbox hide-top-right-06 "隐藏导航栏右侧 06" 0
@advanced checkbox hide-top-right-07 "隐藏导航栏右侧 07" 1
@advanced checkbox hide-bottom "隐藏底部" 1
==/UserStyle== */

@-moz-document domain("bilibili.com") {
	/* 全局与首页 */
	/* 修复导航栏搜索框不居中问题，这应该会绝对居中 */
	.center-search-container{
		position: absolute !important;
		transform: translate(-50%, -50%) !important;
		left: 50%;
		top: 50%;
		width: 30%;
	}
	/* 修复导航栏左侧悬浮窗口过于偏移出屏幕左边的问题 */
	.v-popover.is-bottom-start .v-popover-content{
		margin-left: 110% !important;
		background: #fff !important;
	}
	/* 修复导航栏右侧悬浮窗口过于偏移出屏幕右边的问题 */
	.v-popover-wrap:not([class="v-popover-wrap header-avatar-wrap"]):not([class="v-popover-wrap right-entry__outside right-entry--message"]) .v-popover{
		margin-left: custom-window-offset-right * 1% !important;
	}
	/* 隐藏弹幕发送框内多余的东西 */
	.bpx-player-video-inputbar .bpx-player-dm-hint{
		display: none !important;
	}
	if front-page-load-more {
		/* 将 .load-more-anchor 往上偏移 1000px 来达到加载更多视频卡的目的 */
		.load-more-anchor{
			transform: translateY(-1000px) !important;
		}
	}
	if hide-front-page-ads {
		/* 首页视频中偶尔插入一两个广告，不过隐藏后会白一块，配合下方隐藏前两行视频即可解决 */
		.container div[class="bili-video-card is-rcmd"]{
			display: none !important;
		}
		.bili-video-card__skeleton.loading_animation{
			display: none !important;
		}
	}
	if hide-front-page-feed-card {
		/* 首页视频前两行视频隐藏 */
		.recommended-swipe.grid-anchor{
			display: none !important;
		}
		.feed-card{
			display: none !important;
		}
		/* 同时隐藏右方换一换按钮 */
		.feed-roll-btn{
			display: none !important;
		}
	}
	if hide-front-page-grid {
		/* 首页视频左上方滚动推荐 */
		.recommended-swipe.grid-anchor{
			display: none !important;
		}
	}
	if hide-front-page-multi-tab-video {
		/* 首页隐藏多选项卡视频（直播，番剧，国创，综艺。。。） */
		.floor-single-card{
			display: none !important;
		}
	}
	if hide-desktop-download {
		/* 首页右下角会出现下载桌面端广告，概率出现？ */
		.desktop-download-tip{
			display: none !important;
		}
	}
	if hide-watch-later {
		/* 隐藏视频图片右上角稍后再看按钮 */
		.bili-watch-later{
			visibility: hidden !important;
		}
		.watch-later-video{
			visibility: hidden !important;
		}
	}
	if hide-charge {
		/* 隐藏作者下方充电按钮 */
		.old-charge-btn,.new-charge-btn{
			display: none !important;
		}
		/* 隐藏视频播放结束时的充电按钮 */
		.bpx-player-ending-functions-electric{
			display: none !important;
		}
		/* 强制修正充电旁边关注按钮位置，使其看起来左对齐 */
		.bpx-player-ending-functions-follow{
			margin-left: 0px !important;
		}
	}
	if hide-video-cmd {
		/* 隐藏视频播放时，播放窗口中间会出现的三连框 */
		.bpx-player-video-area .bpx-player-cmd-dm-wrap{
			display: none !important;
		}
	}
	if hide-video-follow {
		/* 隐藏视频播放时，左上角关注按钮 */
		.bpx-player-top-left-follow{
			display: none !important;
		}
	}
	if hide-live-status {
		/* 隐藏 up 主正在直播中标记 */
		.live-status{
			display: none !important;
		}
	}
	if hide-video-ads {
		/* 视频右边，接下来播放上方出现的广告 */
		.ad-report.video-card-ad-small{
			display: none !important;
		}
		#slide_ad,.slide-ad-exp{
			display: none !important;
		}
		/* 视频右边，接下来播放下方出现的广告，例如视频与“我的世界”有关这里将会显示我的世界 B 站版下载 */
		.video-page-game-card-small{
			display: none !important;
		}
		/* 视频右边，列表最下方的广告，概率出现？ */
		#right-bottom-banner{
			display: none !important;
		}
		/* 2024_10_16 好像从 id 切换为了 class？ */
		.right-bottom-banner{
			display: none !important;
		}
		/* 视频右边，列表最下方的广告下方“大家围观的直播”，概率出现？ */
		.pop-live-small-mode{
			display: none !important;
		}
		/* 视频右边，接下来播放下方推荐视频中插入的广告，第一条或者第二条 */
		.video-page-special-card-small{
			display: none !important;
		}
	}
	if hide-barrage-list {
		/* 视频右边，弹幕列表 */
		.danmaku-box{
			display: none !important;
		}
	}
	if hide-top-right-user-pendant {
		/* 顶部导航栏个人中的头像挂件 */
		.bili-avatar-pendent-dom{
			display: none !important;
		}
		/* 动态页详情作者头像挂件 */
		.b-avatar__layers div:nth-child(2){
			display: none !important;
		}
	}
	if hide-top-right-user-vip {
		/* 顶部导航栏个人中的大会员广告 */
		.avatar-panel-popover .vip-entry-containter{
			display: none !important;
		}
	}
	if hide-recommended-services {
		/* 隐藏导航栏个人菜单中的推荐服务 */
		.links-item .v-popover-wrap{
			display: none !important;
		}
	}
	if hide-top-right-vip {
		/* 顶部导航栏右侧大会员 */
		.right-entry .vip-wrap{
			display: none !important;
		}
	}
	if hide-top-right-upload {
		/* 顶部导航栏右侧投稿 */
		.right-entry .right-entry-item--upload{
			display: none !important;
		}
	}
	if hide-ai-title {
		/* 视频下方 AI 总结上方的测试版文字隐藏 */
		.video-ai-assistant-bg span{
			display: none !important;
		}
		/* 视频下方 AI 总结下方文字 */
		.video-ai-assistant .video-ai-assistant-icon{
			margin-right: -0px !important;
		}
		.video-ai-assistant-info{
			text-indent: -9999px !important;
		}
	}
	if hide-ai-in-unsupport {
		/* 视频下方 AI 总结上方的测试版文字隐藏 */
		.toolbar-right-ai.disabled{
			display: none !important;
		}
	}
	if hide-video-notes {
		.video-note{
			display: none !important;
		}
	}
	if hide-video-bottom-ad {
		/* 评论区上方广告横幅 */
		#bannerAd{
			display: none !important;
		}
		.comment-container .reply-header div .reply-notice{
			display: none !important;
		}
		#activity_vote{
			display: none !important;
		}
		/* 这是啥，投稿广告？我这里看到的是投稿应援第五人格比赛 */
		/* 如果 .act-now 效果异常应替换成 .inside-wrp */
		.act-now{
			display: none !important;
		}
	}
	if hide-auth {
		/* 个人主页右侧 bilibili 认证 */
		.col-2 div .section{
			display: none !important;
		}
	}
	if hide-creation {
		/* 个人主页右侧创作中心 */
		.col-2 .section.i-m{
			display: none !important;
		}
	}
	if hide-studio {
		/* 个人主页右侧直播间 */
		.col-2 .section.i-live{
			display: none !important;
		}
	}
	if hide-info {
		/* 个人主页右侧个人资料 */
		.col-2 .section.user-info{
			display: none !important;
		}
	}
	if hide-game {
		/* 个人主页右侧个人资料 */
		.col-2 .section.game{
			display: none !important;
		}
	}
	if hide-home-watchlater {
		/* 主页右下角稍后播放按钮 */
		.palette-button-wrap .watchlater-pip-button{
			display: none !important;
		}
	}
	if hide-home-refresh {
		/* 主页右下角刷新内容按钮 */
		.palette-button-wrap .flexible-roll-btn{
			display: none !important;
		}
	}
	if hide-home-feedback {
		/* 主页右下角反馈按钮 */
		.palette-button-wrap .storage-box{
			display: none !important;
		}
	}
	if hide-home-back-to-top {
		/* 主页右下角返回顶部按钮 */
		.palette-button-wrap .top-btn-wrap{
			display: none !important;
		}
	}
	if hide-feedback {
		/* 主页右下角反馈按钮 */
		.navTools_floatNavExp__iNll7{
			display: none !important;
		}
	}
	if hide-vip {
		/* 顶部导航栏个人资料处修正大会员红色字体为黑色 */
		.avatar-panel-popover .nickname-item{
			color: #000000 !important;
		}
		/* 顶部导航栏个人名称下方的狗牌 */
		.avatar-panel-popover .vip-item{
			display: none !important;
		}
		/* 顶部导航栏个人头像旁边的“大”字，以及个人主页头像旁边的“大”字 */
		.bili-avatar-icon-big-vip{
			display: none !important;
		}
		/* 个人主页中的年度大会员狗牌 */
		.h-viplabel{
			display: none !important;
		}
		.h-vipType{
			display: none !important;
		}
		/* 动态首页中的年度大会员狗牌 */
		.bili-dyn-my-info__header .info .info__icon span:nth-child(1){
			display: none !important;
		}
		.bili-dyn-my-info__header .info .info__icon span:nth-child(2){
			margin-left: -1px !important;
		}
     /* 隐藏播放器中分辨率旁的大会员标识，当然依然买了才能用 */
		.bpx-player-ctrl-quality-badge-bigvip{
			display: none !important;
		}
		.bili-pay-box-wrapper div:nth-child(2){
			display: none !important;
		}
		.bili-pay-box-wrapper{
			height: 97px !important;
		}
     /* 新番中大量与大会员相关的元素 */
     /* 视频左下角，成为大会员按钮 */
		.promptBar_remindActionWrap___CcG1{
			display: none !important;
		}
     /* 视频左下角，“本片是大会员专享内容”文本 */
		.promptBar_title__PKo6n{
			display: none !important;
		}
     /* 视频右上角，“开通大会员 热播内容看不停” */
		.vipPaybar_container__p_lv5{
			display: none !important;
		}
     /* 番剧清晰度，1080p下方开通大会员提示 */
		.bpx-player-ctrl-quality-text.bpx-player-ctrl-quality-text-vip-trial div:nth-child(2){
			display: none !important;
		}
     /* 番剧清晰度，免费体验大会员清晰度隐藏 */
		.bpx-player-ctrl-quality-menu-feedback{
			display: none !important;
		}
     /* 隐藏成为大会员全屏弹窗 */
		.dialog1080p_popup_1080p_wrapper__8XOGL{
			display: none !important;
		}
     /* 视频右上方作者处，资料展示的大会员狗牌 */
		.user-label{
			display: none !important;
		}
     /* 视频右上方作者处，资料展示的用户名修正为黑色 */
		.up-name{
			color: #000000 !important;
		}
		.name{
			color: #000000 !important;
		}
     /* 视频评论区大会员名字修正为黑色 */
		.user-name,.sub-user-name{
			color: #000000 !important;
		}
     /* 视频评论区大会员名片中名字修正为黑色 */
		.card-user-name{
			color: #000000 !important;
		}
     /* 视频评论区大会员名片中狗牌隐藏 */
		.card-user-vip{
			display: none !important;
		}
     /* 动态页点进去查看详情后作者名称修正为黑色 */
		.opus-module-author__name{
			color: #000000 !important;
		}
	}
	if hide-verify {
		/* 头像下方认证标识 */
		.b-avatar__layers div:nth-child(3){
			display: none !important;
		}
		/* 用户卡内头像下方认证标识 */
		.bili-user-profile-view__avatar__icon{
			display: none !important;
		}
		/* 用户卡内下方认证标识及其说明 */
		.bili-user-profile-view__info__officialverify{
			display: none !important;
		}
		/* 动态页评论区内头像下方认证标识 */
		.bili-avatar-icon{
			display: none !important;
		}
		/* 动态页评论区内身份卡下方认证标识 */
		.card-verify-info{
			display: none !important;
		}
		/* 视频下方评论区，不知道是什么的标识 */
		.bili-avatar-nft-icon1{
			display: none !important;
		}
	}
	if show-video-desc {
		/* 强制展开视频介绍 */
		.video-desc-container .basic-desc-info{
			height: 100% !important;
		}
		.video-desc-container .toggle-btn{
			display: none !important;
		}
	}
	if hide-top-left-01 {
		/* 顶部导航栏左侧第 01 个 */
		.left-entry li:nth-child(1){
			display: none !important;
		}
	}
	if hide-top-left-02 {
		/* 顶部导航栏左侧第 02 个 */
		.left-entry li:nth-child(2){
			display: none !important;
		}
	}
	if hide-top-left-03 {
		/* 顶部导航栏左侧第 03 个 */
		.left-entry li:nth-child(3){
			display: none !important;
		}
	}
	if hide-top-left-04 {
		/* 顶部导航栏左侧第 04 个 */
		.left-entry li:nth-child(4){
			display: none !important;
		}
	}
	if hide-top-left-05 {
		/* 顶部导航栏左侧第 05 个， 当前为“会员购” */
		.left-entry li:nth-child(5){
			display: none !important;
		}
	}
	if hide-top-left-06 {
		/* 顶部导航栏左侧第 06 个 */
		.left-entry li:nth-child(6){
			display: none !important;
		}
	}
	if hide-top-left-07 {
		/* 顶部导航栏左侧第 07 个 */
		.left-entry li:nth-child(7){
			display: none !important;
		}
	}
	if hide-top-left-08 {
		/* 顶部导航栏左侧第 08 个， 当前为“MSI 推广” */
		.left-entry li:nth-child(8){
			display: none !important;
		}
	}
	if hide-top-left-09 {
		/* 顶部导航栏左侧第 09 个， 当前为“下载客户端” */
		.left-entry li:nth-child(9){
			display: none !important;
		}
	}
	if hide-top-left-10 {
		/* 顶部导航栏左侧第 10 个 */
		.left-entry li:nth-child(10){
			display: none !important;
		}
	}
	if hide-top-right-01 {
		/* 顶部导航栏右侧第 01 个 */
		.right-entry li:nth-child(1){
			display: none !important;
		}
	}
	if hide-top-right-02 {
		/* 顶部导航栏右侧第 02 个 */
		.right-entry li:nth-child(2){
			display: none !important;
		}
	}
	if hide-top-right-03 {
		/* 顶部导航栏右侧第 03 个 */
		.right-entry li:nth-child(3){
			display: none !important;
		}
	}
	if hide-top-right-04 {
		/* 顶部导航栏右侧第 04 个 */
		.right-entry li:nth-child(4){
			display: none !important;
		}
	}
	if hide-top-right-05 {
		/* 顶部导航栏右侧第 05 个 */
		.right-entry li:nth-child(5){
			display: none !important;
		}
	}
	if hide-top-right-06 {
		/* 顶部导航栏右侧第 06 个 */
		.right-entry li:nth-child(6){
			display: none !important;
		}
	}
	if hide-top-right-07 {
		/* 顶部导航栏右侧第 07 个， 当前为“创作中心” */
		.right-entry li:nth-child(7){
			display: none !important;
		}
	}
	if hide-top-right-08 {
		/* 顶部导航栏右侧第 08 个， 当前为“创作中心” */
		.right-entry li:nth-child(8){
			display: none !important;
		}
	}
	if hide-bottom {
		/* 整个底部栏隐藏 */
		.bili-footer{
			display: none !important;
		}
	}
}

@-moz-document domain("t.bilibili.com") {
	/* 动态首页 */
	if hide-vip {
		/* 动态首页中的年度大会员狗牌 */
		.bili-dyn-my-info__header .info .info__icon span:nth-child(1){
			display: none !important;
		}
		.bili-dyn-my-info__header .info .info__icon span:nth-child(2){
			margin-left: -1px !important;
		}
		/* 其他用户消息页头像下方角标 */
		.b-avatar__layers div:nth-child(2){
			display: none !important;
		}
		/* 其他用户消息页头像展开后狗牌 */
		.bili-user-profile-view__info__viplabel{
			display: none !important;
		}
     /* 动态页 up 主名字修正名称为黑色 */
		.bili-dyn-title__text{
			color: #000000 !important;
		}
     /* 动态页 up 主身份卡名字修正名称为黑色 */
		.bili-user-profile-view__info__uname{
			color: #000000 !important;
		}
	}
	if hide-community {
		/* 动态首页右侧上方社区中心 */
		.right section:not([class="sticky"]){
			display: none !important;
		}
	}
	if hide-verify {
		/* 头像下方认证标识 */
		.b-avatar__layers div:nth-child(3){
			display: none !important;
		}
		/* 用户卡内头像下方认证标识 */
		.bili-user-profile-view__avatar__icon{
			display: none !important;
		}
		/* 用户卡内下方认证标识及其说明 */
		.bili-user-profile-view__info__officialverify{
			display: none !important;
		}
	}
	if hide-recommend {
		/* 动态下方推荐应用，例如第五人格的动态下方会推荐第五人格游戏下载 */
		.bili-dyn-content__orig__additional{
			display: none !important;
		}
	}
}

@-moz-document domain("message.bilibili.com") {
	/* 消息中心 */
	/* 消息中心的导航栏居然是独立的。。。 */
	/* 修复导航栏搜索框不居中问题，这应该会绝对居中 */
	.nav-search-box{
		position: absolute !important;
		transform: translate(-50%, -50%) !important;
		left: 50%;
		top: 50%;
		width: 30%;
	}
	if hide-top-right-user-vip {
		/* 顶部导航栏个人中的大会员广告 */
		.user-con.signin div span .mini-vip{
			display: none !important;
		}
	}
	if hide-recommended-services {
		/* 隐藏导航栏个人菜单中的推荐服务 */
		.vp-container .links a:nth-child(3){
			display: none !important;
		}
	}
	if hide-top-right-upload {
		/* 顶部导航栏右侧投稿 */
		.nav-user-center div:nth-child(3) span span{
			display: none !important;
		}
	}
	if hide-vip {
		/* 顶部导航栏个人资料处修正大会员红色字体为黑色 */
		.vp-container .nickname{
			color: #000000 !important;
		}
		/* 顶部导航栏个人名称下方的狗牌 */
		.vp-container .levelIcon{
			display: none !important;
		}
	}
	if hide-top-left-01 {
		/* 顶部导航栏左侧第 01 个 */
		.nav-link ul li:nth-child(1){
			display: none !important;
		}
	}
	if hide-top-left-02 {
		/* 顶部导航栏左侧第 02 个 */
		.nav-link ul li:nth-child(2){
			display: none !important;
		}
	}
	if hide-top-left-03 {
		/* 顶部导航栏左侧第 03 个 */
		.nav-link ul li:nth-child(3){
			display: none !important;
		}
	}
	if hide-top-left-04 {
		/* 顶部导航栏左侧第 04 个 */
		.nav-link ul li:nth-child(4){
			display: none !important;
		}
	}
	if hide-top-left-05 {
		/* 顶部导航栏左侧第 05 个， 当前为“会员购” */
		.nav-link ul li:nth-child(5){
			display: none !important;
		}
	}
	if hide-top-left-06 {
		/* 顶部导航栏左侧第 06 个 */
		.nav-link ul li:nth-child(6){
			display: none !important;
		}
	}
	if hide-top-left-07 {
		/* 顶部导航栏左侧第 07 个 */
		.nav-link ul li:nth-child(7){
			display: none !important;
		}
	}
	if hide-top-left-08 {
		/* 顶部导航栏左侧第 08 个， 当前为“MSI 推广” */
		.nav-link ul li:nth-child(8){
			display: none !important;
		}
	}
	if hide-top-left-09 {
		/* 顶部导航栏左侧第 09 个， 当前为“下载客户端” */
		.nav-link ul li:nth-child(9){
			display: none !important;
		}
	}
	if hide-top-left-10 {
		/* 顶部导航栏左侧第 10 个 */
		.nav-link ul li:nth-child(10){
			display: none !important;
		}
	}
	if hide-top-right-01 {
		/* 顶部导航栏右侧第 01 个 */
		.user-con.signin div:nth-child(1){
			display: none !important;
		}
	}
	if hide-top-right-02 {
		/* 顶部导航栏右侧第 02 个 */
		.user-con.signin div:nth-child(2){
			display: none !important;
		}
	}
	if hide-top-right-03 {
		/* 顶部导航栏右侧第 03 个 */
		.user-con.signin div:nth-child(3){
			display: none !important;
		}
	}
	if hide-top-right-04 {
		/* 顶部导航栏右侧第 04 个 */
		.user-con.signin div:nth-child(4){
			display: none !important;
		}
	}
	if hide-top-right-05 {
		/* 顶部导航栏右侧第 05 个 */
		.user-con.signin div:nth-child(5){
			display: none !important;
		}
	}
	if hide-top-right-06 {
		/* 顶部导航栏右侧第 06 个 */
		.user-con.signin div:nth-child(6){
			display: none !important;
		}
	}
	if hide-top-right-07 {
		/* 顶部导航栏右侧第 07 个， 当前为“创作中心” */
		.user-con.signin div:nth-child(7){
			display: none !important;
		}
	}
	if hide-top-right-08 {
		/* 顶部导航栏右侧第 08 个， 当前为“创作中心” */
		.user-con.signin div:nth-child(8){
			display: none !important;
		}
	}
}
